@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }

h1 {
    font-family: 'Quicksand', sans-serif;
    color: white;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.container {
    width:60%;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: white;
}


body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #14bdac;
  }

  button {
      background-color: aquamarine;
      border-radius: 20%;   
      width: 50;
      height: 25px;
      color: rgba(99, 91, 91, 0.632);
  }

#reset {
    margin-top: 25px;
}

.playable {
    background-color: #14bdac;
}

.dsp {
    font-family: 'Quicksand', sans-serif;
    color: white;
    font-size: 45px;
    
}

section.playable {
    display: grid;
    grid-template-columns: repeat(3, 15vmin);
    grid-template-rows: repeat(3, 15vmin);

    border-radius: 5%;
  }

section.playable div {
    border: 2px solid aqua;
    border-radius: 10%;
    background-color: #0da192;
  }

section.playable :hover {
    background-color: aquamarine !important ;
    cursor: cell;
  }



